<div class="budget-info-card trans-cat" data-row-id="row-selector-<%= current_user.income_cat.id if current_user.income_cat %>">
  <h5>Income</h5>
  <h6><%= current_user.income_for_month(@selected_month_as_date).sum(:amount_cents) / 100 %></h6>
</div>
<div class="budget-info-card">
  <h5>Budgeted</h5>
  <h6><%= current_user.budgets_for_month(@selected_month_as_date).sum(:amount_cents) / 100 %></h6>
</div>
<div class="budget-info-card">
  <h5>Available</h5>
  <h6><%= current_user.available_balance(@selected_month_as_date) / 100 %></h6>
</div>
