<div class="category" style="border-color: <%= category.color %>">
  <div class="icon-container" style="background-color: <%= category.color %>">
    <%= cl_image_tag category.icon.photo %>
  </div>
  <p><%= category.name %></p>
</div>



