<% current_user.categories.each do |category| %>
  <% unless category == current_user.categories.find_by(name: 'Income') %>
    <div class="category-list-div" id="category-<%= category.id %>">
        <%= render 'components/category_listitem', category: category, budgets: budgets, selected_month: selected_month, transactions: transactions, prev_month: prev_month %>
    </div>
    <div class="category-transaction-view" id="row-selector-<%= category.id %>">
          <%= render 'components/category_list_dropdown', category: category, transactions: transactions %>
    </div>
  <% end %>
<% end %>
