<div class="category" style="border-color: #97C05C">
  <div class="icon-container" style="background-color: #97C05C">
    <%= cl_image_tag 'yield-resources/icons/groceries_u6b5hp.png' %>
  </div>
  <p>Groceries</p>
</div>
