<div class="budget-cat-transaction" id="transaction-<%= trans.id %>">

  <h5><%= trans.datetime.strftime("%a %-d %b %H:%M") %></h5>

  <h5><%= trans.store %></h5>

  <h5 class="amount"><%= trans.amount %></h5>
</div>

