 <div class="transaction-list-div">
  <%= render 'components/category', category: category %>
  <h6>Tue 1 Oct 14:00</h6>
  <h6>Circle k Livold Livold Sør-audnedal</h6>
  <h6>-2400kr</h6>
  <div class="transaction-arrow">
    <%= icon('fas', 'chevron-down') %>
  </div>
</div>
