
<h1>This is the dashboard of <%= current_user.first_name %> <%= current_user.last_name %>.</h1>

<!-- IMPORTANT: remember to put 140px margin on the element that will go on the top of the page (because of the fixed navabar) -->
