<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1> This is the H1. YIELD. </h1>
<h2> This is the H2. It can be used for the value proposition.</h2>
<h3> This is the H3. Could be use for the text inside cards</h3>
<h4> This is h4. This will be text inside the category cards</h4>
<h5> This is h5. It can be use for toolboxes. It is very nice. </h5>
