
<div class="container settings-container">

  <div class="categories">

    <p class="define-category">My categories:</p>
    <div class="my-categories">
      <% current_user.categories.each do |category| %>
      <% unless category.no_cat? %>
      <%= render 'components/category', category: category %>
      <% end %>
      <% end %>
    </div>
  </div>
  <div class="adding-category">
    <p class= form-title>Add a category</p>
    <div class="category-container">
      <%= render "categories/form", category: @category %>

    </div>
  </div>
</div>

    <%= javascript_pack_tag "profile" %>

