.category-selector-div {
  display: flex;
  flex-wrap: wrap;
  // justify-content: ;
  transition-duration: .8s;
  overflow: hidden;
  max-height: 0px;
  padding: 0 -5px;
  margin: 0px 0;
  border-bottom: 0px solid rgba(131,190,211,0);
}

.category-selector-div.display {

  border-bottom: 1px solid rgba(131,190,211,1);
  padding-top: 40px;
  padding-bottom: 80px;
}

.category-selector-div .category {
  margin-right: 5px;
  margin-left: 5px
}

.category-selector-div .current .category {
  // box-shadow: 0px 0px 10px rgba(0,0,0,.2);
  // background-color: rgba(0,0,0,.2);
}

.category-selector-div a.current .category h6 {
  font-weight: 600;
  // font-size: 1rem;
}
