#categoryListContainer {
  overflow-y: auto;
  overflow-x: hidden;
  display: inline-block;
  margin-top: 150px;
  height: 85%;
  width: 100%;
}

#categoryListContainer::-webkit-scrollbar {
    display: none;
}

.category-list {
  margin: 50px;
}

.category-list-div {
  display: grid;
  grid-template-columns: 20% 13% 13% 13% 27% 4%;
  align-items: center;
  grid-gap: 2%;
  border-bottom: 1px solid #83BED3;
  padding: .5rem 5px;
}

.category-list-div.list-header {
  grid-template-columns: 20% 13% 13% 13% 5% 27%;
}

.category-list-div .progress-view {
  width: 100%;
  background: none;
  display: flex;
}

.category-list-div .progress-bar-container {
  width: 80%;
  overflow: hidden;
  margin-right: 1rem;
  border-radius: 13px;
  border: 1px solid rgba(0,0,0,.3);
}

.category-list-div .progress-grow {
  border-radius: 12px;
  height: 24px;
}

.category-list .category-arrow {
  display: flex;
  justify-content: center;
}

.category-list-div .bud-field {
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: transparent;
  width: 80%;
  font-family: "Montserrat", sans-serif;
  letter-spacing: .4px;
  margin-bottom: 0;
  color: #4f4f4f;
  font-size: 1rem;
}

.category-list-div .bud-field:hover,
.category-list-div .bud-field:focus {
  border: 1px solid black;
  background-color: white;
  outline: none;
}

.category-transaction-view {
  transition-duration: 1.2s;
  overflow: hidden;
  max-height: 0px;
  padding: 0 15%;
  margin: 0px 0;
}

.category-transaction-view.display {
  border-bottom: 1px solid #83BED3;
}

.budget-cat-transaction {
  display: grid;
  grid-template-columns: 30% 56% 10%;
  align-items: center;
  grid-gap: 2%;
  border-bottom: 1px solid rgba(131,190,211,1);
  padding: .5rem 5px;
  overflow: hidden;
  height: 70px;
  min-width: 70%;
}

.budget-cat-transaction .amount {
  justify-self: end;
}

.budget-cat-transaction:last-child {
  border-bottom: none;
}

.budget-cat-transaction {

}

.category-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.category-arrow i {
  transform-duration: .5;
  transform: rotate(0deg);
}


.category-arrow.turned i {
  transform: rotate(180deg);
}
