.category {
  width: 175px;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 17px;
  margin: 1rem 0rem;
}

.category .icon-container {
  background-color: black;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: -2px;
}

.category .icon-container img {
  width: 75%;
  object-fit: contain;
}

.category p {
  margin: 0px 10px;
  font-size: 14px;
  overflow: hidden;
  max-width: 74%;
  white-space: nowrap;
}
