.category {
  width: 250px;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  border: 0px solid black;
  border-radius: 17px;
  margin: .5rem 0rem;

}

.category .icon-container {
  background-color: black;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: -2px;
}

.category .icon-container img {
  width: 75%;
  object-fit: contain;
}

.category h6 {
  margin: 0px 10px;
  overflow: hidden;
  max-width: 74%;
  white-space: nowrap;
  text-decoration: none;
  color: #4f4f4f;
}

.category-selector-div a:hover {
  text-decoration: none;
  transform: scale(1.03);
}


