.list-container {
  margin-top: 10vh;
  height: 90vh;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0;
}

.container {
  margin-top: 140px;
  width: 85vw;
  padding-bottom: 10vh;
}
