// .list-container {
//   height: 90vh;
//   position: relative;
//   overflow-x: auto;
//   overflow-y: hidden;
//   padding: 0;
// }

.container {
  margin-top: 100px;
  width: 85vw;
  padding-bottom: 10vh;
}

.container-left {
  padding-left: 5px;
  width: 22%;
  display: flex;
  flex-direction: column;
}

.chart-view {
  margin: 100px auto;
  display: flex;
  width: 85vw;
  padding-top: 2rem;
  justify-content: space-between;
}

.chart-container {
  margin-top: .7rem;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  width: 75%
}

.import-container {
  margin-top: 6rem;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  width: 100%
}

.import-container .simple_form.transactions {
  display: flex;
  justify-content: space-between;
  width: 100%
}


