.chart-header {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.list-header {
  padding-bottom: 1rem;
}

.fixed-header {
  padding-top: 1rem;
  background-color: #FAFAFA;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%
}
