.chart-header {
  display: flex;
  justify-content: center;
}

.list-header {
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.fixed-header {
  padding-top: 1rem;
  background-color: #F1F1F1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%
}

.page-title {
  padding-top: 2rem;
  padding-left: 5px;
  padding-bottom: 1rem;
}
