.inbox-list {
  margin: 140px auto;
}

.inbox-list-div {
  display: grid;
  grid-template-columns: 16% 17% 31% 10% 10% 6% ;
  align-items: center;
  grid-gap: 2%;
  border-bottom: 1px solid #83BED3;
  padding: 0px;
}

.inbox-list .inbox-arrow {
  display: flex;
  justify-content: center;
}

.inbox-list-div .confirm-trans {
  color: gray;
  font-size: 2rem;
  place-self: center;
 transition-duration: 1;

}

.confirm-trans:hover {
  color: #15B515;
  border-radius: 50%;
  transform: scale(1.3);

}
