.inbox-list-div {
  display: grid;
  grid-template-columns: 17% 17% 35% 12% 4% 4% ;
  align-items: center;
  grid-gap: 2%;
  border-bottom: 1px solid rgba(131,190,211,1);
  padding: .5rem 5px;
  transition-duration: .7s;
  overflow: hidden;
  max-height: 70px;
}

// #inboxListContainer {
//   overflow-y: auto;
//   overflow-x: hidden;
//   display: inline-block;
//   margin-top: 150px;
//   height: 85%;
//   width: 100%;
// }

// #inboxListContainer::-webkit-scrollbar {
//     display: none;
// }

.inbox-list-div .confirm-trans {
  color: gray;
  font-size: 2rem;
  place-self: center;
  transition-duration: 1;
}

.inbox-list-div .trans-cat {
  cursor: pointer;
}

.inbox-list-div .trans-cat:hover {
  transform: scale(1.03);
}


.confirm-trans:hover {
  color: #15B515;
  border-radius: 50%;
  transform: scale(1.3);
}

.inbox-list-div.confirmed {
  max-height: 0px;
  padding: 0rem;
  border-bottom: 0px solid rgba(131,190,211,0);
}

.transaction-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.transaction-arrow i {
  transform-duration: .5;
  transform: rotate(0deg);
}


.transaction-arrow.turned i {
  transform: rotate(180deg);
}

.empty-inbox {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    height: 40vh;
    margin-top: 1rem;
    // margin-left: 40px;
    // margin-bottom: 20px;
  }
  h1 {
    // margin-top: 140px;
    text-align: center;
    font-size: 30px;
  }
  p {
    text-align: center;
    font-size: 20px;

  }
}

.list-header.hidden,
.empty-inbox.hidden {
  display: none;
}


