.info-card {
  display: flex;
  justify-content: space-around;
  background: white;
  width: 250px;
  height: 50px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  text-align: center;
  align-items: center;
}

.info-card-month {
  display: flex;
  justify-content: center;
  background: white;
  width: 250px;
  height: 60px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  text-align: center;
  align-items: center;
}

.account-card {
  display: flex;
  justify-content: space-evenly;
  background: white;
  width: 500px;
  height: 50px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.info-card-div {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: center;
  justify-items: center;
  margin: 2rem;
}

.budget-info-cards {
  display: grid;
   grid-template-columns: 30% 30% 30%;
   grid-gap: 5%;
   padding-top: 2rem;
}

.budget-info-card {
  background-color: #aee2d5;
  border-radius: 8px;
  padding: .5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.budget-info-card.negative {
  border: 2px solid rgba(255,0,0,.6);
}
