 .initials {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 2rem;
  font-size: 1.3rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background: #8FBDD1;
  text-transform: uppercase;
  letter-spacing: -2px;
}
