.month-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  place-self: stretch;
  padding-left: 10px;
  padding-right: 10px;
}

.month-selector h4 {
  white-space: nowrap;
}

.month-selector .fas {
  font-size: 1.3rem;
  cursor: pointer;
  color: #8FBDD1;
}
