.month-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  place-self: stretch;
  align-self: end;
  max-width: 300px;
}

.month-selector h4 {
  white-space: nowrap;
}

.month-selector a {
  flex-grow:1;
  text-align: left;
}

.month-selector a:last-child {
  flex-grow:1;
  text-align: right;
}

.month-selector .fas {
  font-size: 1.3rem;
  cursor: pointer;
  color: #8FBDD1;
}

.transaction-list-div .month-selector {
  grid-column: span 2;
}
