.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 80px;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img{
  width: 100px;
}

.navbar-lewagon .navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-lewagon .navbar-brand h2 {
  margin-bottom: 0;
}

.nav-item {
  margin-left: 4px;
}

.nav-item.dropdown {
  cursor: pointer;
}

.navbar-light .navbar-nav .nav-link {
  justify-content: space-between;

}
.navbar-light .navbar-nav .nav-link {
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.25rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  letter-spacing: .5px;
}
.navbar-light .navbar-nav .nav-link.active {
  // color: black;
  font-weight: 700;
  color: gray;
  border-bottom: solid 3px $yield;
  // text-transform: uppercase;



}

.navbar-lewagon .dropdown-toggle::after {
  display: none;
}


