.transaction-list {
  margin: 50px;
  margin-top: 140px;
}

.transaction-list-div {
  display: grid;
  grid-template-columns: 20% 16% 32% 16% 6%;
  align-items: center;
  grid-gap: 2%;
  border-bottom: 1px solid #83BED3;
  padding: 0px;
}

.transaction-list .transaction-arrow {
  display: flex;
  justify-content: center;
}
