.transaction-list {
  margin: 50px;
}

.transaction-list-div {
  // margin: 20px 0px;
  display: grid;
  grid-template-columns: 20% 16% 42% 16% 6%;
  align-items: center;
  grid-gap: 2%;
  border-bottom: 1px solid #83BED3;
  padding: 15px;
}

.transaction-list .transaction-arrow {
  display: flex;
  justify-content: center;
}
