.profile-container {
  margin-top: 140px;
  display: flex;
}


.profile-img {
  width: 200px;
}
.nav {
  list-style: none;
  padding: 0;

  .tabs {

    display: inline-flex;
    padding: 10px 20px;
    background-color: #83bed3;
    &:hover {
      color: white;
    }
}

    .tab {
      text-decoration: none;
      color: white;
      padding: 10px;
      transition: all .3s ease-in-out;
      border-bottom: 1px solid transparent;
      &:hover {
        color: white;
      }
    }
  }


.tabs .active a {
  color: white;
  border-bottom: 1px solid #83BED3;
  &:hover {
    border-color: transparent;
    background: #83BED3;
    color: white;
    font-weight: lighter;
  }
}

.tab-pane {
  display: none;
}

.tab-pane .active {
  display: block;

}



