.profile-img {
  margin-left: 70px;
  border-radius: 50%;
}


.profile-container {
  margin-top: 140px;
}
.tabs-container {
  margin-left: 70px;
  margin-top: 35px;
}

.profile-img {
  width: 200px;
}
.nav {
  list-style: none;
  padding: 0;
}

.tabs {

  display: inline-flex;
  padding: 10px 20px;
  background-color: inherit;
  &:hover {
    color: #83bed3;
    border-bottom: solid 4px;
  }
}

.tab {
  text-decoration: none;
  color: white;
  padding: 10px;
  transition: all .3s ease-in-out;
  border-bottom: 1px solid transparent;
}

.tabs.active {
  color: #83bed3;
  border-bottom: solid 4px;
  font-weight: 500;
  // border-bottom: 1px solid #83BED3;

}

.tab-pane {
  display: none;
}

.tab-pane .active {
  display: block;
}

.define-category {
  padding-top: 0px;
  margin-bottom: 25px;
  font-weight: bold;
}

.tab-container {
  display: flex;
  justify: space-between;
  margin: 40px 40px 40px 80px;

}

.form-buttons.btn {
  border: solid 2.5px;
  border-color: #83BED4;
  border-radius: 40px;
  color: #71A4B7;
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  right: 0;
  }

.string {
  border-style: none;
  border-bottom: solid;
  border-color: #83BED4;
  background-color: transparent;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
  &:focus {
    border-bottom: 5px solid #83BED4;
    box-shadow: none;
    opacity: 1;
    background-color: transparent;
  }
}
  .my-categories {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  }

.icons {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px 50px;
  padding: 20px 20px 20px 20px;
  justify-content: space-around;

}
.icon-container {
  .chosen-icons {
  &:hover {
    box-shadow: 0 0 3pt 2pt $yield;
  }
}
  &.selected {
    box-shadow: 0 0 3pt 2pt $yield;
  }
  .img {
    margin: 10px 10px;
}
  }

.simple_form.new_category {
  input {
    width: 100%;
    &:focus {
      outline: none;
    }
  }
}
.adding-category {
  margin-left: 5rem;
  .form-title {
    margin-bottom: 2rem;
    font-weight: bold;
  }
}
#color-picker {
  margin-bottom: 2rem;
  cursor: pointer;
  #color-picker-square {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: hotpink;
    margin-left: 2rem;
  }
}
