<div class="container budget-container">
  <div class="category-list-div">
    <h4>Category</h4>
    <h4>Budgeted</h4>
    <h4>Spent</h4>
    <h4>Remaining</h4>
    <%= render 'components/month_selector' %>
  </div>
  <div id="categoryListContainer">
    <%= render 'components/category_list', budgets: @budgets, selected_month: @selected_month %>
  </div>
</div>
