<div class="inbox-list">
  <div class="inbox-list-div header">
    <h4></h4>
    <h4>Category</h4>
    <h4>Date</h4>
    <h4>Info</h4>
    <h4>Spent</h4>
    <div class="month-selector">
      <h4>October</h4>
    </div>
  </div>
    <% @transactions.each do |trans| %>
      <%= render 'components/inbox', trans: trans %>
  <% end %>
</div>
