<div class="inbox-container list-container container">
  <% unless @transactions.empty? %>
    <div class="header">
      <div id="inboxListHeader" class="inbox-list-div list-header">
        <h4>Category</h4>
        <h4>Date</h4>
        <h4>Info</h4>
        <h4>Amount</h4>
        <h4></h4>
      </div>
    </div>
    <div id="inboxListContainer" class="inbox-list-elements">
      <% @transactions.each_with_index do |trans, list_index| %>
        <%= render 'components/transaction_inbox', trans: trans, index: trans.id, list_pos_id: list_index %>
      <% end %>
    </div>
  <% else %>
    <div class="empty-inbox">
      <h1>Your inbox is empty!</h1>
    </div>
  <% end %>
  <div class="empty-inbox hidden" id="empty-inbox">
    <h1>Good job! Your inbox is empty!</h1>
      <%= image_tag "empty_inbox.svg" %>
    <p>Upload more transactions or check how you are doing in the budget.<p>
    </div>
    <div class="flex-container">
      <div class="import-container">
        <%= render 'components/csv_upload' %>
      </div>
    </div>
  </div>
  <%= javascript_pack_tag 'inbox' %>
