<div class="transaction-list container">
  <div class="transaction-list-div">
    <h4>Category</h4>
    <h4>Date</h4>
    <h4>Info</h4>
    <%= render 'components/month_selector' %>
  </div>
    <% @transactions.each do |trans| %>
     <%= render 'components/transaction', trans: trans, index: trans.id %>
    <% end %>
</div>
